<li class="collection-item avatar">
  <i class="material-icons circle <%=grade_color(grade.grade)%>">assessment</i>
  <span class="title"><%= grade.course %></span>
  <p>
    <%= grade.grade %>
  </p>
</li>