<li class="collection-item avatar">
  <i class="material-icons circle <%=urgency_color(item.due_date)%>">assignment</i>
  <span class="title"><%= item.task %></span>
  <p>
    <%= item.display_date %><br>
    <%= item.course %>
  </p>
</li>