<div class="card grey lighten-2 small">
  <div class="card-image">
    <img src="/images/sunny.jpeg" alt="">
    <span class="card-title">Oviedo, Fl</span>
  </div>
  <div class="card-content weather-content">
    <div class="temp left">80</div>

    <div class="vertical-divider"></div>

    <div class="forecast-container right">
      <div class="forecast left">
        <div class="day">M</div>
        <div class="divider"></div>
        <div class="forecast-temp">80/80</div>
      </div>

      <div class="forecast right">
        <div class="day">T</div>
        <div class="divider"></div>
        <div class="forecast-temp">80/80</div>
      </div>
    </div>
  </div>
</div>